<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/products">About</a>
            </li>
            <li>
                <a href="/products">Contact</a>
            </li>
        </ul>
    </nav>

</header>