<form enctype="multipart/form-data" method="POST" action="/images{% if image.id %}/{{ image.id }}{% endif %}">
    {% if image.id %}
    <input type="hidden" name="id" value="{{ image.id }}" />
    {% endif %}
    <div>
        <label for="title">Variant:</label>
        <select name="variantId">
            {% for variant in variants %}
            <option value="{{ variant.id }}">{{ variant.title }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit" value="Submit"/>
        <a href="/images">Go Back</a>
    </div>
</form>